<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashtonmansion.ashtonmansioncloverapp">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ashtonmansion.ashtonmansioncloverapp.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ashtonmansion.ashtonmansioncloverapp.activity.appointment.AppointmentsActivity"
            android:parentActivityName="com.ashtonmansion.ashtonmansioncloverapp.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ashtonmansion.ashtonmansioncloverapp.activity.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ashtonmansion.ashtonmansioncloverapp.activity.appointment.AddAppointmentActivity"
            android:parentActivityName="com.ashtonmansion.ashtonmansioncloverapp.activity.appointment.AppointmentsActivity" />
        <activity
            android:name="com.ashtonmansion.ashtonmansioncloverapp.activity.SettingsActivity"
            android:parentActivityName="com.ashtonmansion.ashtonmansioncloverapp.activity.MainActivity" />
        <activity
            android:name="com.ashtonmansion.ashtonmansioncloverapp.activity.customer.CustomersActivity"
            android:parentActivityName="com.ashtonmansion.ashtonmansioncloverapp.activity.MainActivity" />
        <activity
            android:name="com.ashtonmansion.ashtonmansioncloverapp.activity.item.InventoryActivity"
            android:parentActivityName="com.ashtonmansion.ashtonmansioncloverapp.activity.MainActivity" />
        <activity
            android:name="com.ashtonmansion.ashtonmansioncloverapp.activity.employee.EmployeesActivity"
            android:parentActivityName="com.ashtonmansion.ashtonmansioncloverapp.activity.MainActivity" />
        <activity
            android:name="com.ashtonmansion.ashtonmansioncloverapp.activity.employee.AddEmployeeActivity"
            android:parentActivityName="com.ashtonmansion.ashtonmansioncloverapp.activity.employee.EmployeesActivity" />
        <activity
            android:name="com.ashtonmansion.ashtonmansioncloverapp.activity.customer.AddCustomerActivity"
            android:parentActivityName="com.ashtonmansion.ashtonmansioncloverapp.activity.customer.CustomersActivity" />
        <activity
            android:name="com.ashtonmansion.ashtonmansioncloverapp.activity.item.AddInventoryActivity"
            android:parentActivityName="com.ashtonmansion.ashtonmansioncloverapp.activity.MainActivity" />
        <activity
            android:name="com.ashtonmansion.ashtonmansioncloverapp.activity.appointment.AppointmentDetailActivity"
            android:parentActivityName=".activity.appointment.AppointmentsActivity" />
        <activity
            android:name="com.ashtonmansion.ashtonmansioncloverapp.activity.SandboxActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name="com.ashtonmansion.ashtonmansioncloverapp.activity.customer.EditCustomerActivity"
            android:parentActivityName="com.ashtonmansion.ashtonmansioncloverapp.activity.customer.CustomersActivity" />
        <activity
            android:name="com.ashtonmansion.ashtonmansioncloverapp.activity.management.ManagerMainActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name="com.ashtonmansion.ashtonmansioncloverapp.activity.shift.ManagerShiftActivity"
            android:parentActivityName=".activity.management.ManagerMainActivity" />
        <activity
            android:name="com.ashtonmansion.ashtonmansioncloverapp.activity.shift.ShiftTemplateManagementActivity"
            android:parentActivityName=".activity.shift.ManagerShiftActivity" />
        <activity
            android:name="com.ashtonmansion.ashtonmansioncloverapp.activity.shift.ShiftExceptionManagementActivity"
            android:parentActivityName=".activity.shift.ManagerShiftActivity" />
    </application>

</manifest>